<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TodoMVC tests">
    <test name="vanillajs tests">
        <parameter name="todoType" value="vanillajs" />
        <classes>
            <class name="com.todomvc.TodoTest" />
        </classes>
    </test>
    <test name="vue tests">
        <parameter name="todoType" value="vue" />
        <classes>
            <class name="com.todomvc.TodoTest" />
        </classes>
    </test>
    <test name="jquery tests">
        <parameter name="todoType" value="jquery" />
        <classes>
            <class name="com.todomvc.TodoTest" />
        </classes>
    </test>
</suite>